// Suboptimal, rushed code.
.temp-box {
  border: $line--b solid rgba($c-grey8, .25);
  padding: em($ratio--m);
  margin-top: em($ratio--l);
  text-align: center;
}
.temp-screen {
  height: 100%;
  background-color: $c-grey4;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  position: relative;
  @include pseudo-center--parent;
  p {
    text-align: left;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
  }
}
.temp-bg {
  @include stretch-overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .375;
}
.temp-screen--primary {
  background-color: $c-color1;
  color: white;
}
.temp-screen--secondary {
  background-color: $c-color2;
  color: white;
}
.temp-screen--dark {
  background-color: $c-grey7;
  color: white;
}
.temp-screen--light {
  background-color: $c-grey5;
}
.temp-center {
  position: relative;
  z-index: 50;
  white-space: normal;
  @include pseudo-center--child;
}
.temp-text-center {
  text-align: center;
}
.l-columns {
  @include clearfix;
  margin-bottom: em($ratio--b);
}
.l-column {
  text-align: center;
  p {
    text-align: left;
  }
  .l-columns--two & {
    @include span-columns(6);
  }
  .l-columns--three & {
    @include span-columns(4);
  }
  @include collapse-children;
}
.item-stats {
  list-style: none;
  padding-left: 0;
  display: inline-block;
  margin-right: em($ratio--s);
  li {
    display: inline-block;
    background-color: $c-grey2;
    font-size: em($unit--s);
    padding: em($ratio--s);
    font-family: $font--sans;
    border-radius: $radius--b;
  }
}