// Suboptimal, rushed code.
.temp-box {
  border: $line--b solid rgba($c-grey8, .25);
  padding: em($ratio--m);
  margin-top: em($ratio--l);
  text-align: center;
}
.temp-hero--dark {
  color: white;
  p {
    color: $c-grey2;
  }
  background-color: $c-grey8;
  .m-hero__bg {
    opacity: .5;
  }
}
.temp-header--white {
  .o-logo__link {
    @include link-state {
      color: white;
    }
    @include active-state {
      color: rgba(white, .5);
    }
  }
  .o-logo__symbol {
    border-color: white;
  }
  .o-nav__pages--selected {
    @include link-state {
      color: white;
      border-color: rgba(white, .25);
    }
  }
  .o-switch {
    @include link-state {
      color: rgba($c-grey7, .75);
    }
    @include active-state {
      color: rgba($c-grey4, .75);
    }
  }
}