// Header states.
.header--is-top { 
  .o-logo--light {
    @include link-state {
      fill: $c-grey6;
    }
    @include active-state {
      fill: black;
      .o-logo__symbol {
        fill: $c-color4;
      }
    }
  }
  &.m-header--light {
    .o-pages__item {
      @include active-state {
        color: $c-color4;
      }
    }
    .o-pages__item--selected {
      @include link-state {
        color: $c-grey6;
      }
    }
  }
}
.header--is-passive {
  .m-header__wrapper {
    padding-top: em($ratio--m);
    padding-bottom: em($ratio--m);
  }
  .o-nav,
  .o-logo__title {
    opacity: 0;
    @include transform(translateY(em(-$ratio--xxl)));
  }
  .no-touch &:hover {
    &:before {
      height: 100%;
    }
  }
}