.offscreen--not-active {
  .m-offscreen {
    // .o-logo__title {opacity: 0; }
  }
  .m-offscreen__menu {
    // display: none;
  }
}
.offscreen--is-active {
  .m-offscreen {
    width: em($ratio--h);
  }
}
// section {
//   @include transition(all $duration--b);
// }
// .content--is-offset {
//   section {
//     @include transform(translate3d(10em, 0, 0));
//   }
// }

.is-ready:after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  @include transition(background-color $duration--s);
}
.is-loading:after {
  background-color: rgba($c-grey8, .75);
}