.sg-ratio {
  @include list-reset;
}
.sg-ratio__item {
  display: inline-block;
  vertical-align: top;
  background-color: $c-grey2;
  text-align: center;
  @include pseudo-center--parent;
  & + & {
    margin-left: 1.5rem;
  }
  &:after {
    display: block;
  }
}
.sg-ratio__content {
  @include pseudo-center--child;
}
.sg-ratio__name {
  text-transform: uppercase;
  letter-spacing: .125em;
  display: block;
}
.sg-ratio__item--xs {
  width: em($ratio--xs);
  height: em($ratio--xs);
  &:after {
    content: "#{$ratio--xs}";
  }
}
.sg-ratio__item--s {
  width: em($ratio--s);
  height: em($ratio--s);
  &:after {
    content: "#{$ratio--s}";
  }
}
.sg-ratio__item--b {
  width: em($ratio--b);
  height: em($ratio--b);
  &:after {
    content: "#{$ratio--b}";
  }
}
.sg-ratio__item--m {
  width: em($ratio--m);
  height: em($ratio--m);
  &:after {
    content: "#{$ratio--m}";
  }
}
.sg-ratio__item--l {
  width: em($ratio--l);
  height: em($ratio--l);
  &:after {
    content: "#{$ratio--l}";
  }
}
.sg-ratio__item--xl {
  width: em($ratio--xl);
  height: em($ratio--xl);
  &:after {
    content: "#{$ratio--xl}";
  }
}
.sg-ratio__item--xxl {
  width: em($ratio--xxl);
  height: em($ratio--xxl);
  &:after {
    content: "#{$ratio--xxl}";
  }
}
.sg-ratio__item--g {
  width: em($ratio--g);
  height: em($ratio--g);
  &:after {
    content: "#{$ratio--g}";
  }
}