// SVG styles.
.svg__content {
  width: 100%;
  height: 100%;
}
// Logo
.svg-logo__symbol {
  width: em($circle--s);
  height: em($circle--s);
}
.svg-logo__wordmark {
  display: inline-block;
  width: em(90);
  height: em(20);
  vertical-align: middle;
}
// Buttons
[class^="svg-button"],
[class*=" svg-button"] {
  display: inline-block;
  & + & {
    margin-left: em($ratio--s);
  }
  @include active-state {
    opacity: .75;
  }
}
.svg-button--app_store {
  // iOS doesn't fare well with width: auto;
  width: em(135);
  height: em(40);
}
.svg-button--google_play {
  width: em(116);
  height: em(40);
}
// Icons
[class^="svg-icon"],
[class*=" svg-icon"] {
  display: inline-block;
  width: em($svg--b);
  height: em($svg--b);
  vertical-align: middle;
}
.svg-icon--barrel {
  fill: $c-color1;
}
.svg-icon--diamond {
  fill: $c-color4;
}
.svg-icon--tasting {
  fill: $c-color2;
}
.svg-icon--bottle {
  fill: $c-grey4;
}
.svg-icon--reality {
  fill: $c-color1;
}
.svg-icon--bio {
  fill: $c-color1;
}