// SVG styles.
.svg-button {
  & + & {
    margin-left: em($ratio--s);
  }
  @include active-state {
    opacity: .75;
  }
}
[class^="svg-icon"],
[class*=" svg-icon"] {
  width: em($svg--b);
  height: auto;
  vertical-align: middle;
}
[class^="svg-symbol"],
[class*=" svg-symbol"] {
  width: auto;
  height: em(40);
}

// .svg-outline {
//   stroke: $c-grey4;
// }
// .svg-icon--grapes {
//   fill: $c-color4;
// }
.svg-icon--barrel {
  fill: $c-color1;
}
.svg-icon--diamond {
  fill: $c-color4;
}
.svg-icon--tasting {
  fill: $c-color2;
}
.svg-icon--bottle {
  fill: $c-grey4;
}
.svg-icon--reality {
  fill: $c-color1;
}
.svg-icon--bio {
  fill: $c-color1;
}
.svg-logo_symbol {
  width: em($circle--s);
  height: em($circle--s);
}
.svg-logo_wordmark {
  width: em(90);
  height: auto;
  vertical-align: middle;
}
// .svg-tasting__cheese {
//   fill: $c-color2;
// }
// .svg-grapes__leaf {
//   stroke: $c-color1;
// }
// .svg-grapes__grape {
//   stroke: $c-color3;
// }