.is-ready:after {
  z-index: -1;
}
.o-waves {
  z-index: 10;
}
.l-layer--top {
  z-index: 20;
}
.m-hero__content {
  z-index: 50;
}
.o-photo__overlay {
  z-index: 50;
}
.is-loading:after {
  z-index: 600;
}
.m-header {
  z-index: 700;
}
.m-offscreen {
  z-index: 750;
}
.featherlight {
  z-index: 800;
}