.is-ready:after {
  z-index: -1;
}
.o-canvas--fixed {
  z-index: 5;
}
.o-pagination__list {
  z-index: 10;
}
.o-pagination__side-link {
  z-index: 10;
}
[class^="m-hero"]:after,
[class*=" m-hero"]:after {
  z-index: 10;
}
.o-pagination__content:hover {
  z-index: 20;
}
.l-layer--top {
  z-index: 20;
}
.o-pagination__item--selected {
  .o-pagination__content {
    z-index: 30;
  }
}
.m-hero__content {
  z-index: 50;
}
.o-photo__overlay {
  z-index: 50;
}
.is-loading:after {
  z-index: 600;
}
.m-header {
  z-index: 700;
}
.m-offscreen {
  z-index: 750;
}
.featherlight {
  z-index: 800;
}