.is-ready:after {
  z-index: -1;
}
.o-canvas--fixed {
  z-index: 5;
}
.o-action,
.o-pagination__list,
.o-pagination__side-link,
.m-hero:after,
.m-detail__image:after {
  z-index: 10;
}
.o-pagination__content:hover,
.l-layer--top {
  z-index: 20;
}
.o-pagination__item--selected {
  .o-pagination__content {
    z-index: 30;
  }
}
.o-photo__overlay,
.m-detail__contextual,
.m-detail__overlay,
.m-hero__content,
.m-order__total {
  z-index: 50;
}
.is-loading:after {
  z-index: 600;
}
.m-header {
  z-index: 700;
}
.featherlight {
  z-index: 800;
}