// Waves container.
.o-canvas--fixed {
  position: absolute; // z-index
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  pointer-events: none;
  .no-touch & {
    position: fixed;
  }
}
.o-canvas--half {
  height: 50%;
}