// Waves container.
.o-canvas--fixed {
  position: absolute; // z-index
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  .no-touch & {
    position: fixed;
  }
}
.o-canvas--half {
  height: 50%;
}
// .o-canvas--filter {
//   width: 100%;
//   height: 300px;
//   border: $line--b solid $c-color1;
// }