// Inputs.
.o-input {
  font-family: $font--sans;
  font-weight: $sans--regular;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: $line--b solid;
  padding: em($ratio--xs) 0;
  // iOS fix.
  border-radius: 0;
  @include media($tablet__up) {
    font-size: em($unit--l);
    font-weight: $sans--semibold;
  }
}
// Textarea.
.o-textarea {
  border: none;
  outline: none;
  background-color: $c-grey2;
  border-bottom: $line--b solid;
  padding: em($ratio--b);
  // iOS fix.
  border-radius: 0;
  @include focus-state {
    background-color: white;
  }
}
.o-textarea--primary {
  background-color: $c-color1__bg;
  @include focus-state {
    background-color: $c-color1__bg--dark;
  }
}
.o-input,
.o-textarea {
  color: $c-grey6;
  border-bottom-color: $c-grey3;
  @include placeholder {
    color: $c-grey4;
  }
  @include hover-state {
    border-bottom-color: $c-grey4;
  }
  @include focus-state {
    color: $c-color1;
    border-bottom-color: $c-color1;
  }
}
.o-input--primary,
.o-textarea--primary {
  color: $c-color1--dark;
  border-bottom-color: $c-color1--light;
  @include placeholder {
    color: $c-color1--medium;
  }
  @include hover-state {
    border-bottom-color: $c-color2;
  }
  @include focus-state {
    color: $c-color1--black;
    border-bottom-color: white;
  }
}
.o-input--number {
  width: em($ratio--l);
  @include focus-state {
    & + .o-holder__icon {
      display: none;
    }
  }
  @include media($phone) {
    width: em($ratio--m);
  }
}
// Dropdown.
.o-dropdown {
  display: inline-block;
  font-family: $font--sans;
  font-weight: $sans--regular;
  border-bottom: $line--b solid $c-grey3;
  @include hover-state {
    border-bottom-color: $c-grey2;
  }
}
.o-dropdown__select {
  width: 100%;
  padding: em($ratio--xs) em($ratio--m) em($ratio--xs) 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  // Extremely stupid fix for Firefox styling.
  // https://bugzilla.mozilla.org/show_bug.cgi?id=649849
  text-indent: .1px;
  text-overflow: "";
  @include appearance(none);
  @include focus-state {
    outline: 0;
    color: $c-color1;
  }
}
.o-dropdown--primary {
  border-bottom-color: $c-color1--light;
  @include hover-state {
    border-bottom-color: $c-color2;
  }
  .o-dropdown__select {
    @include focus-state {
      color: white;
    }
  }
}
.o-submit {
  outline: none;
  border: $line--b solid $c-grey3;
  color: $c-grey6;
  line-height: em($height--b);
  padding: 0 em($ratio--b);
  background-color: transparent;
  font-family: $font--sans;
  font-weight: $sans--semibold;
  // iOS fix.
  border-radius: 0;
  @include hover-state {
    color: $c-grey8;
    border-color: $c-grey4;
  }
  @include focus-state {
    color: $c-color1;
    border-color: $c-color1;
  }
}
.o-submit--primary {
  color: $c-color1--dark;
  border-color: $c-color1__bg--dark;
  @include hover-state {
    color: $c-color1--black;
    border-color: $c-color1--dim;
  }
  @include focus-state {
    color: white;
    border-color: $c-color1--light;
  }
}
// Label.
.o-label {
  margin-right: em($ratio--b);
  color: $c-grey4;
  @include media($phone) {
    margin-right: em($ratio--s);
  }
}
.o-label--primary {
  color: $c-color1--dark;
}