// Logo
.o-logo {
  position: relative;
  display: block;
  text-decoration: none;
  @include link-state {
    fill: $c-grey4;
    .o-logo__symbol {
      fill: $c-color1;
    }
  }
  @include active-state {
    fill: $c-grey3;
    .o-logo__symbol {
      fill: $c-color2;
    }
  }
}
.o-logo__title {
  display: inline-block;
  width: em(90);
  height: em(34);
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  @include transition(transform $duration--b, opacity $duration--b);
  @include pseudo-center--parent;
  img {
    // Stupid fix for PNG fallback.
    display: inline-block;
    vertical-align: middle;
    margin-right: em($ratio--b);
  }
}

// Responsive.
@include media($portable) {
  .o-logo__symbol {
    display: inline-block;
    vertical-align: middle;
    margin-right: em($ratio--s);
  }
}
@include media($desktop) {
  .o-logo__symbol {
    position: absolute;
    right: 100%;
    margin-right: em($ratio--b);
  }
}