// Logo
.o-logo {
  position: relative;
  display: block;
  text-decoration: none;
  @include link-state {
    fill: $c-grey4;
    .o-logo__symbol {
      fill: $c-color1;
    }
  }
  @include active-state {
    fill: $c-grey3;
    .o-logo__symbol {
      fill: $c-color2;
    }
  }
}
.o-logo__symbol {
  position: absolute;
  right: 100%;
  margin-right: em($ratio--b);
}
.o-logo__title {
  width: em(90);
  height: em(34);
  overflow: hidden;
  @include pseudo-center--parent;
  @include transition(transform $duration--b, opacity $duration--b);
}