// Navigation.
.o-nav {
  @include transition(all $duration--b);
}
.o-pages {
  display: inline-block;
  margin: 0;
  font-family: $font--sans;
  font-weight: $sans--regular;
  color: $c-grey4;
}
.o-pages__item--selected {
  border-bottom: $line--b solid rgba($c-grey4, .5);
  @include transition(color $duration--b);
  @include link-state {
    color: white;
  }
}
.o-nav__language {
  margin-left: em($ratio--m);
}