// Circular photo item.
.o-photo {
  display: inline-block;
  width: em($ratio--xxl);
  margin: 0;
}
.o-photo__content {
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}
.o-photo--small {
  width: em($ratio--xl);
}
.o-photo--big {
  width: em($ratio--h);
}
.o-photo__link {
  position: relative;
  display: block;
  margin-bottom: em($ratio--b);
  text-decoration: none;
  &:after {
    content: "";
    background-color: rgba($c-grey8, .75);
    opacity: .5;
    @include stretch-overlay;
    @include transition(background $duration--b);
  }
  @include active-state {
    .o-photo__overlay {
      opacity: 1;
    }
    &:after {
      background-color: transparent;
    }
  }
}
.o-photo__caption {
  color: $c-grey4;
}
.o-photo__overlay {
  color: white;
  opacity: 0;
  @include transition(opacity $duration--b);
  @include stretch-overlay;
  @include pseudo-center--parent;
}

// Responsive.
@include media($desktop) {
  .o-photo--big {
    width: em($ratio--xh);
  }
}