// Circular photo item.
.o-photo {
  display: inline-block;
  // display: block;
  width: em($ratio--xxl);
  margin: 0;
}
.o-photo__content {
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}
.o-photo--small {
  width: em($ratio--xl);
}
.o-photo--big {
  width: em($ratio--h);
}
// .o-photo--huge {
//   width: em($ratio--xh);
// }
.o-photo__link {
  position: relative;
  display: block;
  margin-bottom: em($ratio--b);
  text-decoration: none;
  &:after {
    content: "";
    background-color: rgba($c-grey8, .75);
    opacity: .5;
    @include stretch-overlay;
    @include transition(background $duration--b);
  }
  @include active-state {
    &:after {
      background-color: transparent;
    }
  }
}
.o-photo__caption {
  // display: block;
  // width: 100%;
  color: $c-grey4;
}

// Responsive.
@include media($desktop) {
  .o-photo--big {
    width: em($ratio--xh);
  }
  // .o-photo--huge {
  //   width: em($ratio--xxh);
  // }
}