// Product item.
.o-product {
  text-align: center;
  // li {
    // display: inline;
    // padding-left: em($ratio--xxs);
    // &:before {
      // margin-right: em($ratio--xxs);
    // }
  // }
  .o-button {
    padding-left: em($ratio--m);
  }
}
.o-product__thumbnail {
  display: inline-block;
  position: relative;
  padding-left: em($ratio--l);
  padding-right: em($ratio--l);
}
.o-product__name {
  line-height: 1.25;
  overflow: auto;
  min-height: em($ratio--xl);
  .t-h3 {
    display: inline-block;
    margin: 0 em($ratio--xxs) 0 0;
  }
}
.o-product__type {
  font-size: em($ratio--m);
  color: $c-grey4;
}
.o-product__category {
  position: absolute;
  top: 0;
  left: 0;
  width: em($ratio--l);
  line-height: em($ratio--l);
  font-size: em($unit--s);
  font-family: $font--sans;
  color: white;
  text-align: center;
  background-color: $c-grey6;
  border-radius: 50%;
  .o-product--white & {
    background-color: $c-color1;
  }
  .o-product--red & {
    background-color: $c-color3;
  }
  .o-product--rose & {
    background-color: $c-color4;
  }
}
.o-product__extra {
  font-size: em($unit--xs);
  font-family: $font--sans;
  color: $c-grey4;
}
.o-product__info {
  border: $line--b solid $c-grey2;
  border-bottom: none;
  margin: 0;
  padding: em($ratio--xs) 0;
  color: $c-grey4;
  text-transform: uppercase;
  font-size: em($unit--xs);
  text-align: center;
  // line-height: em($ratio--l);
}
.o-product__price {
  position: absolute;
  top: .125em;
  right: em(-$ratio--m);
  // font-size: em($unit--s);
  color: $c-grey4;
  // text-align: center;
  // border: $line--b solid $c-grey2;
  // line-height: em($height--b);
  // border-right: none;
  // overflow: auto;
  strong {
    font-size: em($ratio--m);
    color: $c-grey6;
    vertical-align: middle;
  }
}
.o-product__description {
  margin-top: 0;
  a {
    @include link-state {
      color: $c-grey8;
    }
    @include active-state {
      color: $c-grey6;
    }
  }
}