// Product item.
.o-product {
  text-align: center;
}
.o-product__thumbnail {
  display: inline-block;
  position: relative;
  padding-left: em($ratio--l);
  padding-right: em($ratio--l);
  .o-photo__content {
    background-color: white;
  }
}
.o-product__link {
  display: block;
  @include active-state {
    .o-photo__link:after {
      background-color: transparent;
    }
  }
}
.o-product__name {
  line-height: 1.25;
  overflow: auto;
  .t-h3 {
    display: inline-block;
    margin: 0 em($ratio--xxs) 0 0;
  }
}
.o-product__type {
  display: block;
  font-size: em($ratio--m);
}
.o-product__category {
  position: absolute;
  top: 0;
  left: 0;
}
.o-product__price {
  position: absolute;
  top: .125em;
  // Magic number.
  left: em(160);
  white-space: nowrap;
}
.o-product__description {
  color: $c-grey4;
}

@include media($tablet--landscape__up) {
  .o-product__description {
    margin-top: 0;
    margin-bottom: 0;
  }
  .o-product__name {
    min-height: em($ratio--xl);
  }
}