// Product item.
.o-product {
  text-align: center;
}
.o-product__thumbnail {
  display: inline-block;
  position: relative;
  padding-left: em($ratio--l);
  padding-right: em($ratio--l);
}
.o-product__link {
  display: block;
  @include active-state {
    .o-photo__link:after {
      background-color: transparent;
    }
  }
}
.o-product__name {
  line-height: 1.25;
  overflow: auto;
  .t-h3 {
    display: inline-block;
    margin: 0 em($ratio--xxs) 0 0;
  }
}
.o-product__type {
  font-size: em($ratio--m);
}
.o-product__category {
  position: absolute;
  top: 0;
  left: 0;
}
.o-product__price {
  position: absolute;
  top: .125em;
  right: em(-$ratio--m);
}
.o-product__description {
  // margin-top: 0;
  a {
    @include link-state {
      color: $c-grey8;
    }
    @include active-state {
      color: $c-grey6;
    }
  }
}

@include media($tablet--landscape__up) {
  .o-product__name {
    min-height: em($ratio--xl);
  }
}