// Radio checkbox.
.o-radio,
.o-radio--styled {
  cursor: pointer;
  input {
    margin-right: em($ratio--s);
  }
  & + & {
    margin-left: em($ratio--b);
  }
}
.o-radio--styled {
  cursor: pointer;
  position: relative;
  input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
  }
}
.o-radio__mark {
  position: relative;
  display: inline-block;
  width: em($circle--xxs);
  height: em($circle--xxs);
  border: $line--b solid $c-grey3;
  margin-right: em($ratio--s);
  border-radius: 50%;
  vertical-align: middle;
  input:checked + & {
    border-color: $c-grey4;
    background-color: $c-grey3;
  }
}
.o-radio__text {
  color: $c-grey4;
  input:checked + * + & {
    color: $c-grey8;
  }
}
.o-radio--primary {
  input:checked + .o-radio__mark {
    border-color: $c-color1--dim;
    background-color: $c-color1;
  }
}
.o-radio--secondary {
  input:checked + .o-radio__mark {
    border-color: $c-color4--dim;
    background-color: $c-color4;
  }
}