// Switch.
.o-switch {
  display: inline-block;
  width: rem($circle--b);
  height: rem($circle--b);
  line-height: em(36);
  border: $line--b solid;
  border-radius: 50%;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  font-family: $font--sans;
  font-weight: $sans--semibold;
  font-size: em($unit--xs);
  @include link-state {
    color: $c-grey4;
  }
  @include active-state {
    color: $c-grey6;
  }
  & + & {
    margin-left: em($ratio--s);
  }
}