// Switch.
.o-switch {
  display: inline-block;
  width: em($circle--b);
  height: em($circle--b);
  border: $line--b solid;
  border-radius: 50%;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  font-family: $font--sans;
  font-weight: $sans--semibold;
  @include pseudo-center--parent;
  @include link-state {
    color: $c-grey4;
  }
  @include active-state {
    color: $c-grey3;
  }
  & + & {
    margin-left: em($ratio--s);
  }
}
.o-switch__content {
  display: inline-block;
  vertical-align: middle;
}
.o-switch--small {
  width: em($circle--s);
  height: em($circle--s); 
  .o-switch__content {
    font-size: em($unit--xs);
  }
}