.o-title {
  position: relative;
  [class^="svg-icon"] {
    position: absolute;
    top: em(-$ratio--xxs);
    right: 100%;
    margin-right: em($ratio--b);
  }
}
.o-title--float {
  [class^="svg-icon"] {
    float: left;
    margin-top: em(-$ratio--xxs);
    margin-right: em($ratio--b);
  }
}
.o-title--small {
  [class^="svg-icon"] {
    width: em($svg--s);
    top: em(-$ratio--xs);
    margin-right: em($ratio--m);
  }
}
.o-title--white {
  fill: white;
}
.o-title--light {
  fill: $c-grey4;
}
.o-title--secondary {
  fill: $c-color3;
}