// Triplet.
.o-triplet {
  list-style: none;
  padding-left: 0;
  margin: em($ratio--m) 0;
  @include clearfix;
}
.o-triplet__item {
  color: $c-grey5;
  text-align: center;
  padding: em($ratio--m) 0;
  border-top: $line--b solid $c-grey2;
  border-bottom: $line--b solid $c-grey2;
}
.o-triplet__title {
  display: block;
  color: $c-grey6;
  margin-top: em($ratio--b);
}
.o-triplet__title--primary {
  color: $c-color1;
}
.o-triplet__title--secondary {
  color: $c-color3;
}
.o-triplet__title--tertiary {
  color: $c-color4;
}

// Responsive.
@include media($phone--portrait) {
  .o-triplet__item {
    & + & {
      border-top: none;
    }
  }
}
@include media($phone--landscape) {
  .o-triplet__item {
    @include span-columns(1 of 3);
  }
  .o-triplet__title--primary {
    // Stupid way of forcing line-break.
    padding-left: em($ratio--b);
    padding-right: em($ratio--b);
  }
}
@include media($tablet--portrait) {
  .o-triplet__item {
    @include span-columns(2);
  }
}
@include media($tablet--landscape__up) {
  .o-triplet__item {
    @include span-columns(4);
  }
}