// Triplet.
.o-triplet {
  list-style: none;
  padding-left: 0;
  @include clearfix;
  margin: em($ratio--m) 0;
}
.o-triplet__item {
  @include span-columns(4);
  color: $c-grey5;
  text-align: center;
  padding: em($ratio--m) 0;
  border-top: $line--b solid $c-grey2;
  border-bottom: $line--b solid $c-grey2;
}
.o-triplet__title {
  display: block;
  color: $c-grey6;
  margin-top: em($ratio--b);
}
.o-triplet__title--primary {
  color: $c-color1;
}
.o-triplet__title--secondary {
  color: $c-color3;
}
.o-triplet__title--tertiary {
  color: $c-color4;
}