// List with a middot style.
.o-middot {
  list-style: none;
  padding-left: 0;
  li {padding-left: em($ratio--s); }
  li:before {content: '\b7\a0'; }
}
.o-middot--inline {
  li {
    display: inline-block;
    &:before {margin-right: em($ratio--s); }
  }
  li:first-child {
    padding-left: 0;
    &:before {display: none; }
  }
}
.o-middot--stacked {
  li {
    position: relative;
    &:before {
      position: absolute;
      left: 0;
    }
  }
}
// List with no styling.
.o-nolist {
  list-style: none;
  padding-left: 0;
}
// Navigation.
.o-pages {
  display: inline-block;
  margin: 0;
  font-family: $font--sans;
  font-weight: $sans--regular;
  color: $c-grey4;
}
.o-pages__item--selected {
  border-bottom: $line--b solid rgba($c-grey4, .5);;
}
.o-nav__language {
  margin-left: em($ratio--m);
}
// Long text.
.o-article {
  .t-big {
    color: $c-grey8;
  }
  p {
    color: $c-grey5;
  }
}
.o-article--invert {
  .t-big {
    color: $c-grey2;
  }
  p {
    color: $c-grey4;
  }
}
.o-article__link {
  margin-top: em($ratio--b);
}
// Generic carousel.
.o-carousel {
  @include box-sizing(content-box);
  @include user-select(none);
}
.o-carousel__list {
  list-style: none;
  white-space: nowrap;
}
.o-carousel__item {
  display: inline-block;
  white-space: normal;
  text-align: center;
  & + & {
    padding-left: em($ratio--b);
  }
}
// Call to action.
.o-action {
  background-color: $c-grey8;
  color: white;
}
// Text object.
.o-lead {
  max-width: 40em;
}
// Image and text.
.o-media {
  @include clearfix;
}
.o-media--big {
  margin-top: em($ratio--xl);
  margin-left: em(-$ratio--b);
}
.o-media__image {
  float: left;
  margin-right: em($ratio--l);
}
.o-media__content {
  overflow: auto;
  @include collapse-children;
}
// Views.
.o-whole {
  height: 100%;
}
.o-main {
  height: 100%
}
// Contrast bar.
.o-ribbon {
  background-color: $c-grey8;
  color: $c-grey4;
}
// Input container with icon.
.o-holder {
  display: inline-block;
  position: relative;
  @include hover-state {
    .o-holder__icon {
      display: none;
    }
  }
}
.o-holder__icon {
  position: absolute;
  right: 0;
  color: $c-grey4;
  line-height: em($height--b);
}
// .o-aside {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   background-color: rgba($c-grey8, .5);
//   z-index: 500;
// }