// Logo
.o-logo {
  display: inline-block;
  text-align: center;
  .o-logo__title {
    margin-top: em($ratio--b);
  }
}
.o-logo__symbol {
  display: inline-block;
  width: em(32);
  height: em(32);
  border: $line--b solid black;
  border-radius: 50%;
  // vertical-align: middle;
}
.o-logo__link {
  display: block;
  text-decoration: none;
  @include link-state {
    color: black;
  }
  @include active-state {
    color: rgba(black, .5);
  }
}
.o-logo__title {
  // vertical-align: middle;
  border-bottom: 1px solid;
  text-transform: uppercase;
  letter-spacing: .125em;
  @include transition(opacity $duration--b);
}
// A basic button.
[class^="o-button"],
[class*=" o-button"] {
  text-decoration: none;
  font-family: $font--sans;
  font-weight: $sans--semibold;
  &:after {
    font-size: em($icon--b);
    line-height: 1;
    vertical-align: middle;
    margin-left: em($ratio--xs);
  }
}
.o-button {
  display: inline-block;
  border: $line--b solid;
  padding-left: em($ratio--b);
  padding-right: em($ratio--b);
  line-height: em($height--b);
  &:after {
    line-height: 1em;
  }
}
.o-button--stretch {
  display: block;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.o-button--white {
  // @include transition(all $duration--b);
  background-color: white;
  @include link-state {
    border-color: $c-grey2;
  }
  @include active-state {
    color: $c-hover;
    // background-color: $c-grey2;
    // border-color: shade($c-color1, 15%);
    border-color: $c-hover;
  }
}
// List with a middot style.
.o-middot {
  list-style: none;
  padding-left: 0;
  li {padding-left: em($ratio--s); }
  li:before {content: '\b7\a0'; }
}
.o-middot--inline {
  li {
    display: inline-block;
    &:before {margin-right: em($ratio--s); }
  }
  li:first-child {
    padding-left: 0;
    &:before {display: none; }
  }
}
.o-middot--stacked {
  li {
    position: relative;
    &:before {
      position: absolute;
      left: 0;
    }
  }
}
// List with no styling.
.o-nolist {
  list-style: none;
  padding-left: 0;
}
// Navigation.
.o-pages {
  display: inline-block;
  margin: 0;
  font-family: $font--sans;
  font-weight: $sans--regular;
  color: $c-grey4;
}
.o-pages__item--selected {
  @include link-state {
    color: rgba($c-grey8, .75);
    border-bottom: $line--b solid rgba($c-grey6, .25);
  }
}
.o-nav__language {
  margin-left: em($ratio--m);
}
// Long text.
.o-article {
  .t-big {
    color: $c-grey8;
  }
  p {
    color: $c-grey5;
  }
}
.o-article__link {
    margin-top: em($ratio--b);
  }
// Waves container.
.o-waves {
  position: fixed; // z-index
  left: 0;
  right: 0;
  top: 0;
}
// Triplet.
.o-triplet {
  @include list-reset;
  @include clearfix;
  margin: em($ratio--l) 0;
}
.o-triplet__item {
  @include span-columns(4);
  color: $c-grey5;
  text-align: center;
}
// Circle icon.
.o-circle {
  display: block;
  width: em($ratio--h);
  height: em($ratio--h);
  margin-left: auto;
  margin-right: auto;
  border: $line--b solid;
  border-radius: 50%;
  text-align: center;
  color: $c-grey6;
  font-family: $font--sans;
  font-weight: $sans--semibold;
  @include pseudo-center--parent;
  }
.o-circle--primary {color: $c-color1; }
.o-circle--secondary {color: $c-color2; }
.o-circle--tertiary {color: $c-color3; }
.o-circle__content {
  padding: em($ratio--s);
  line-height: 1.25;
  @include pseudo-center--child;
}
// Inputs.
.o-input,
.o-textarea {
  border: none;
  outline: none;
  border-bottom: $line--b solid $c-hover;
  color: shade($c-color1, 80%);
  // @include transition(border $duration--b);
  @include placeholder {
    color: shade($c-color1, 40%);
  }
  @include hover-state {
    border-bottom-color: lighten($c-hover, 20%);
  }
  @include focus-state {
    border-bottom-color: white;
  }
}
.o-input {
  background-color: transparent;
  padding: 0 0 em($ratio--s) 0;
  // font-family: $font--sans;
  font-size: em($unit--l);
  font-weight: $serif--bold;
}
// Textarea.
.o-textarea {
  background-color: shade($c-color1, 5%);
  padding: em($ratio--b);
  @include focus-state {
    background-color: shade($c-color1, 10%);
  }
}
// Dropdown.
.o-select {
  display: inline-block;
  border-bottom: $line--b solid $c-hover;
  select {
    @include appearance(none);
    padding: em($ratio--xs) em($ratio--m) em($ratio--xs) 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    @include focus-state {
      outline: 0;
    }
  }
  @include hover-state {
    // color: shade($c-color1, 60%);
    border-bottom-color: lighten($c-hover, 20%);
  }
}
.o-submit {
  outline: none;
  border: $line--b solid shade($c-color1, 15%);
  padding: em($ratio--s) em($ratio--b);
  color: shade($c-color1, 60%);
  background-color: transparent;
  font-family: $font--sans;
  font-weight: $sans--semibold;
  @include hover-state {
    color: shade($c-color1, 80%);
    border-color: shade($c-color1, 25%);
  }
  @include focus-state {
    color: shade($c-color1, 90%);
    border-color: lighten($c-hover, 20%);
  }
}
// Label.
.o-label {
  margin-right: em($ratio--m);
  color: shade($c-color1, 50%);
}
// Radio checkbox.
.o-radio {
  cursor: pointer;
  input {
    margin-right: em($ratio--s);
  }
  & + & {
    margin-left: em($ratio--b);
  }
}
// Generic carousel.
.o-carousel {
  @include box-sizing(content-box);
  @include user-select(none);
}
.o-carousel__list {
  list-style: none;
  white-space: nowrap;
}
.o-carousel__item {
  display: inline-block;
  white-space: normal;
  text-align: center;
  & + & {
    padding-left: em($ratio--b);
  }
}
// Call to action.
.o-action {
  background-color: $c-grey8;
  // text-align: center;
  color: white;
}
// Text object.
.o-lead {
  max-width: 40em;
}
// Image and text.
.o-media {
  @include clearfix;
}
.o-media__image {
  float: left;
  margin-right: em($ratio--l);
}
// Views.
.o-whole {
  height: 100%;
}
.o-main {
  height: 100%
}
// .o-aside {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   background-color: rgba($c-grey8, .5);
//   z-index: 500;
// }