// List with no styling.
.o-nolist {
  list-style: none;
  padding-left: 0;
}
// Long text.
.o-article {
  .t-big {
    color: $c-grey8;
  }
  p {
    color: $c-grey5;
  }
}
.o-article--invert {
  .t-big {
    color: $c-grey2;
  }
  p {
    color: $c-grey4;
  }
}
.o-article__link {
  margin-top: em($ratio--b);
}
// Generic carousel.
.o-carousel {
  @include box-sizing(content-box);
  @include user-select(none);
}
.o-carousel__list {
  list-style: none;
  white-space: nowrap;
}
.o-carousel__item {
  display: inline-block;
  white-space: normal;
  text-align: center;
  & + & {
    padding-left: em($ratio--b);
  }
}
// Call to action.
.o-action {
  position: relative;
  background-color: $c-grey8;
  color: white;
  @include media($phone) {
    text-align: center;
  }
}
// Text object.
.o-lead {
  max-width: 40em;
}
// Views.
.o-whole {
  height: 100%;
}
.o-main {
  height: 100%
}