// Fonts
$font--sans: "adelle-sans", sans-serif;
$font--serif: "leitura-news", serif;
$font--display: "acta-display", serif;

$sans--regular: 400;
$sans--semibold: 600;

$serif--regular: 300;
$serif--bold: 600;

// $display--regular: 400;
$display--medium: 500;
// $display--bold: 700;

// Units
$unit--l:  20;
$unit--b:  16;
$unit--s:  14;
$unit--xs: 12;

$radius--b: 2px;

$line--l: 3px;
$line--b: 2px;
$line--s: 1px;

$icon--l: 64;
$icon--m: 32;
$icon--b: 24;
$icon--s: 16;

$circle--b: 32;

// Common element height
$height--b: 40;

// Golden ratio
$ratio--xxh: round(golden-ratio($unit--b,  7));
$ratio--xh:  round(golden-ratio($unit--b,  6));
$ratio--h:   round(golden-ratio($unit--b,  5));
$ratio--xxl: round(golden-ratio($unit--b,  4));
$ratio--xl:  round(golden-ratio($unit--b,  3));
$ratio--l:   round(golden-ratio($unit--b,  2));
$ratio--m:   round(golden-ratio($unit--b,  1));
$ratio--b:   $unit--b;
$ratio--s:   round(golden-ratio($unit--b, -1));
$ratio--xs:  round(golden-ratio($unit--b, -2));
$ratio--xxs: round(golden-ratio($unit--b, -3));

// Colors
// Primary
$c-color1: #89bf1d;
$c-color2: #e5e622;
$c-color3: #b32477;
$c-color4: #ff8c96;

// Modifications
$c-color1--light: lighten($c-color1, 15%);
$c-color1--dim: shade($c-color1, 20%);
$c-color1--medium: shade($c-color1, 40%);
$c-color1--dark: shade($c-color1, 65%);
$c-color1--black: shade($c-color1, 85%);

// $c-color1--light: rgba(white, .5);
// $c-color1--medium: rgba(black, .25);
// $c-color1--dark: rgba(black, .75);
// $c-color1--black: black;

$c-color1__bg: shade($c-color1, 5%);
$c-color1__bg--dark: shade($c-color1, 10%);

// Neutral
$c-grey1: #f2f0ed;
$c-grey2: #e6e2dc;
$c-grey3: #ccc6c0;
$c-grey4: #b3aba4;
$c-grey5: #737980;
$c-grey6: #5e6266;
$c-grey7: #474a4d;
$c-grey8: #252526;

// Transitions
$duration--l: .5s;
$duration--b: .25s;
$duration--s: .125s;

// Bourbon settings
$em-base: $unit--b;
