body {
  font-family: $font--serif;
  font-weight: 300;
  line-height: 1.5;
  @include media($desktop--wide) {
    font-size: em($unit--m);
  }
}
::selection {
  background-color: lighten($c-color1, 25%);
  color: shade($c-color1, 50%);
  text-shadow: none;
}
.t-small {
  font-size: em($unit--s);
}
.t-big {
  font-size: em($unit--l);
}
.t-smallcaps {
  font-family: $font--sans;
  font-weight: $sans--semibold;
  font-size: em($unit--s);
  letter-spacing: .125em;
  text-transform: uppercase;
  vertical-align: middle;
}
.t-h1 {
  font-family: $font--display;
  line-height: 1.1;
  font-size: em($ratio--xl);
  font-weight: $display--medium;
  margin: em($ratio--xs) 0;
  @include animation(showTitle $duration--b $duration--s backwards);
}
.t-h2 {
  font-family: $font--display;
  font-weight: $display--medium;
  font-size: em($ratio--l);
  line-height: 1.2;
  margin: em($ratio--s) 0;
}
.t-h3 {
  font-size: em($ratio--m);
  font-weight: $serif--bold;
  margin: em($ratio--s) 0;
}
.t-h4 {
  font-size: em($unit--l);
  font-family: $font--sans;
  font-weight: $sans--semibold;
  margin: em($ratio--s) 0;
}

// Interactive.
a {
  @include link-state {color: $c-color1; }
  @include active-state {color: $c-color2; }
}
.t-link--secondary {
  @include link-state {color: $c-color3; }
  @include active-state {color: $c-color4; }
}
.t-link--contrast {
  @include link-state {color: $c-color2; }
  @include active-state {color: $c-color1; }
}
.t-link--light {
  @include link-state {
    color: $c-grey2;
  }
  @include active-state {
    @include rgba(color, $c-grey2, .5);
  }
}
.t-link--dark {
  @include link-state {color: $c-grey4; }
  @include active-state {color: $c-grey6; }
}
.t-link--selected {
  cursor: default;
  color: $c-grey4;
  @include active-state {color: $c-grey4; }
}

// Responsive.
@include media($phone) {
  .t-h1 {
    font-size: em($unit--xl);
    text-align: center;
  }
  .t-h2 {
    font-size: em($ratio--m);
    text-align: center;
  }
}