block template-variables

doctype
html.no-js(lang="cs")
  head
    block template-head
      include ../partials/_html-head

  body
    .o-whole#js-pjax--whole
      include ../../svg/complete.svg
      include ../partials/_nav-main

      main.o-main#js-pjax--main
        block template-body
          p Basic template.

      block template-aside

    block template-foot
      include ../partials/_html-foot