block template-variables

doctype
html.no-js(lang="cs")
  head
    block template-head
      include ../partials/_html-head

  body
    include ../partials/_nav-offscreen
    include ../partials/_nav-main

    main.o-view#js-pjax
      block template-body
        p Basic template.

    block template-foot
      include ../partials/_html-foot