script(src="http://code.jquery.com/jquery-latest.min.js")
<!-- build:js assets/js/bzenia-min.js -->
script(src="bower_components/paper/dist/paper-full.js")
script(src="bower_components/jquery-waypoints/waypoints.js")
script(src="bower_components/idangerous-swiper/src/idangerous.swiper.js")
script(src="assets/js/bzenia.js")
<!-- endbuild -->
if canvasEnabled
  script(type="text/paperscript", src="assets/js/bzenia-paper.js", data-paper-canvas="js-waves")