script(src="http://code.jquery.com/jquery-latest.min.js")
<!-- build:remove -->
script window.jQuery || document.write("<script src='bower_components/jquery/dist/jquery.js'><\/script>")
<!-- endbuild -->

<!-- build:js assets/js/bzenia-min.js -->
script(src="bower_components/paper/dist/paper-full.js")
script(src="bower_components/jquery-waypoints/waypoints.js")
script(src="bower_components/idangerous-swiper/src/idangerous.swiper.js")
script(src="bower_components/featherlight/src/featherlight.js")
script(src="bower_components/jquery-pjax/jquery.pjax.js")
script(src="assets/js/bzenia.js")
<!-- endbuild -->

//- if pageSettings.paperCanvas
//-   script(type="text/paperscript", src="assets/js/bzenia-paper.js", data-paper-canvas="js-waves")