nav.m-offscreen
  .o-logo
    a(href="index.html").o-logo__symbol
    strong.o-logo__title Bzenia
  ul.m-offscreen__menu
    li: a(href="o-vinarstvi.html") O vinařství
    li: a(href="nabidka.html") Nabídka
    li: a(href="navstivte-nas.html") Navštivte nás