header.m-header.header--is-top(class="m-header--#{pageSettings.theme}", data-header)
  .m-header__wrapper.l-wrapper.l-inline
    .m-header__row.l-inline__row
      .m-header__logo.l-inline__cell
        a.o-logo(href="index.html", class="o-logo--#{pageSettings.theme}", data-pjax--whole, data-logo)
          .o-logo__symbol
            .svg-logo__symbol
              svg.svg__content(data-fallback="assets/images/fallbacks/logo_symbol--thick.png")
                use(xlink:href="#logo_symbol--thick")
          .o-logo__title
            .svg-logo__wordmark
              svg.svg__content(data-fallback="assets/images/fallbacks/logo_wordmark.png")
                use(xlink:href="#logo_wordmark")
            strong Bzenia
      .m-header__nav.l-inline__cell
        nav.o-nav
          ul.o-middot.o-middot--inline.o-pages
            each instance, index in navItems
              if (pageSettings.index == index)
                li: a.o-pages__item.o-pages__item--selected(href=instance.link, data-pjax--whole)!= instance.name
              else
                li: a.o-pages__item(href=instance.link, data-pjax--whole)!= instance.name
          .m-header__other
            a(href="#").o-nav__language.o-switch.o-switch--small
              span.o-switch__content En
            a(href="nakupni-kosik.html", data-pjax--whole).o-switch.o-switch--small
              span.o-switch__content
                span.ss-cart.o-icon