header.m-header
  .l-wrapper.m-bar
    a.o-logo__link(href="index.html")
      strong.o-logo__title Bzenia
    nav.m-nav
      ul.o-middot.o-middot--inline.m-nav__pages
        li: a(href="o-vinarstvi.html") O vinařství
        li: a(href="nabidka.html") Nabídka
        li: a(href="navstivte-nas.html") Navštivte nás
      a(href="#").m-nav__language.o-switch En