nav.m-offscreen(class="m-offscreen--#{pageSettings.theme}")
  a(href="index.html", data-pjax).o-logo
    .o-logo__symbol
  //-   //- strong.o-logo__title Bzenia
  //- ul.m-offscreen__menu
  //-   li: a(href="o-vinarstvi.html") O vinařství
  //-   li: a(href="nabidka.html") Nabídka
  //-   li: a(href="navstivte-nas.html") Navštivte nás