article.m-products__item.o-product
  a.o-wine.o-product__link(href="detail-produktu.html", data-pjax--whole)
    .o-product__thumbnail
      figure.o-photo
        .o-photo__link.o-photo__content
          //- .o-photo__overlay
          //-   span.ss-zoomin.o-icon--big
          if (index % 3 == 0)
            img(src="assets/images/product_thumbnail1.jpg", alt="Thumbnail")
          else if (index % 2 == 0)
            img(src="assets/images/product_thumbnail2.jpg", alt="Thumbnail")
          else
            img(src="assets/images/product_thumbnail3.jpg", alt="Thumbnail")
      .o-product__category(class="o-badge--#{instance.category}")!= instance.year
      .o-product__price.o-price
        strong= instance.price
        |  Kč
    .o-product__name
      h3.o-wine__name.t-h3= instance.name
      em.o-wine__type.o-product__type= instance.type
  p.o-product__description
    = instance.description
    if (index % 2 == 0)
      |  
      a(href="#") Poznejte víno blíže.
  //- ul.o-product__extra.o-middot.o-middot--inline
  //-   each productExtra in instance.extra
  //-     li= productExtra
  //- ul.o-product__info.o-middot.o-middot--inline
  //-   each productInfo in instance.info
  //-     li.t-spaced= productInfo
  //- a(href="#").o-button.o-button--white.ss-plus.right Více o tomto víně
  //- .o-product__price
  //-   strong.t-spaced= instance.price