article.m-products__item.o-product
  a.o-wine.o-product__link(href="detail-produktu.html", data-pjax--whole)
    .o-product__thumbnail
      figure.o-photo
        .o-photo__link.o-photo__content
          if (index % 3 == 0)
            img(src="assets/images/product_thumbnail1.png", alt="Thumbnail")
          else if (index % 2 == 0)
            img(src="assets/images/product_thumbnail2.png", alt="Thumbnail")
          else
            img(src="assets/images/product_thumbnail3.png", alt="Thumbnail")
      .o-product__category(class="o-badge--#{instance.category}")!= instance.year
      .o-product__price.o-price
        strong= instance.price
        |  Kč
    .o-product__name
      h3.o-wine__name.t-h3= instance.name
      em.o-wine__type.o-product__type= instance.type
  p.o-product__description.t-smallcaps--small
    = instance.info[0]