// General wrapper.
.l-wrapper {
  margin-right: auto;
  margin-left: auto;
  @include wrapper--padding;
  @include clearfix;
  @include collapse-children;
}
.l-wrapper--small {
  padding-top: em($ratio--s);
  padding-bottom: em($ratio--s);
  @include media($tablet--portrait) {
    padding-top: em($ratio--b);
    padding-bottom: em($ratio--b);
  }
  @include media($tablet--landscape__up) {
    padding-top: em($ratio--m);
    padding-bottom: em($ratio--m);
  }
}
.l-wrapper--big {
  padding-top: em($ratio--m);
  padding-bottom: em($ratio--m);
  @include media($tablet--portrait) {
    padding-top: em($ratio--l);
    padding-bottom: em($ratio--l);
  }
  @include media($tablet--landscape__up) {
    padding-top: em($ratio--xl);
    padding-bottom: em($ratio--xl);
  }
}
.l-wrapper--only-vertical {
  padding-left: 0;
  padding-right: 0;
}
.l-wrapper--only-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}
.l-wrapper--no-top {
  padding-top: 0;
}
.l-wrapper--no-bottom {
  padding-bottom: 0;
}
.l-wrapper--lower {
  padding-top: em($ratio--xxl);
}
.l-wrapper--bleed {
  padding-right: 0;
}

// Responsive.
@include media($phone) {
  .l-wrapper--lower {
    padding-top: em($ratio--xxl + $ratio--m);
  }
}