// Compositing layer for z-index.
[class^="l-layer"],
[class*=" l-layer"] {
  position: relative;
}
// Class for <section> instances.
.l-section--white {
  background-color: white;
}
.l-section--light {
  background-color: $c-grey1;
}
.l-section--dark {
  background-color: $c-grey8;
  color: white;
}

// Responsive.
@include media($tablet) {
  .l-offset {
    padding-left: 12.5%;
  }
  .l-offset--optical {
    padding-left: 11.5%;
  }
}
@include media($desktop) {
  .l-offset {
    padding-left: 17.5%;
  }
  .l-offset--optical {
    padding-left: 16%;
  }
}