// General wrapper.
.l-wrapper {
  @include clearfix;
  @include collapse-children;
  margin: 0 auto;
  padding: em($ratio--b);
  @include media($tablet--portrait) {
    padding: em($ratio--m);
  }
  @include media($tablet--landscape) {
    padding: em($ratio--l);
  }
  @include media($desktop) {
    padding: em($ratio--l) 7.5%;
  }
  @include media($desktop--wide) {
    padding: em($ratio--l) 12.5%;
  }
  .m-header + * &:first-child {
    padding-top: em($ratio--xxl);
  }
}
.l-wrapper--only-vertical {
  padding-left: 0;
  padding-right: 0;
}
.l-wrapper--only-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}
.l-wrapper--no-bottom {
  padding-bottom: 0;
}
.l-wrapper--big {
  padding-top: em($ratio--m);
  padding-bottom: em($ratio--m);
  @include media($tablet--portrait) {
    padding-top: em($ratio--l);
    padding-bottom: em($ratio--l);
  }
  @include media($tablet--landscape__up) {
    padding-top: em($ratio--xl);
    padding-bottom: em($ratio--xl);
  }
}
.l-wrapper--bleed {
  padding-right: 0;
}
.l-wrapper--narrow {
  max-width: em(1024);
}
// Push to side.
.l-offset {
  @include media($desktop) {
    padding-left: 17.5%;
  }
}
.l-offset--optical {
  padding-left: 16%;
}
// Compositing layer for z-index.
[class^="l-layer"],
[class*=" l-layer"] {
  position: relative;
}
// Side by side.
.l-inline {
  display: table;
  width: 100%;
}
.l-inline--top {
  .l-inline__cell {
    vertical-align: top;
  }
}
.l-inline__row {
  display: table-row;
}
.l-inline__cell {
  @include collapse-children;
  display: table-cell;
  & + & {
    text-align: right;
  }
}
// Class for <section> instances.
.l-section--white {
  background-color: white;
}
.l-section--light {
  background-color: $c-grey1;
}
.l-section--dark {
  background-color: $c-grey8;
  color: white;
}
// Columns.
.l-columns {
  @include clearfix;
}
[class^="l-column--"],
[class*=" l-column--"] {
  @include collapse-children;
}
.l-column--one {
  @include span-columns(4);
}
.l-column--two {
  @include span-columns(8);
}
.l-column--half {
  @include span-columns(6);
}