// Contacts.
.m-contacts {
  color: white;
  background-color: $c-grey8;
  li {
    color: $c-grey3;
  }
}

// Responsive.
@include media($phone--portrait) {
  .m-contacts {
    text-align: center;
  }
}
@include media($phone--landscape) {
  .m-contacts__person {
    @include span-columns(2);
  }
}
@include media($tablet__up) {
  .m-contacts__content {
    margin-top: em($ratio--m);
  }
}
@include media($tablet--landscape__up) {
  .m-contacts__person {
    @include span-columns(4 of 8);
  }
}