// Contacts.
.m-contacts {
  color: white;
  background-color: $c-grey8;
  li {
    color: $c-grey3;
  }
}

// Responsive.
@include media($phone--portrait) {
  .m-contacts {
    text-align: center;
  }
}
@include media($phone--landscape) {
  .m-contacts__block,
  .m-contacts__person {
    @include span-columns(2);
  }
}
@include media($tablet__up) {
  .m-contacts__content {
    margin-top: em($ratio--m);
  }
  .m-contacts__block {
    @include collapse-children;
  }
}
@include media($tablet--portrait) {
  .m-contacts__block {
    & + & {
      margin-top: em($ratio--b);
    }
  }
}
@include media($tablet--landscape__up) {
  .m-contacts__block {
    @include span-columns(3 of 6);
    @include collapse-children;
  }
  .m-contacts__person {
    @include span-columns(3 of 6);
  }
}