.m-detail__thumbnail {
  position: relative;
}
.m-detail__category {
  position: absolute;
  top: 0;
  left: 0;
}
.m-detail__name {
  margin-bottom: em($ratio--xxs);
}
.m-detail__type {
  font-size: em($ratio--m);
  color: $c-grey4;
}
.m-detail__description {
  font-size: em($unit--l);
  color: $c-grey6;
}
.m-detail__info {
  color: $c-grey4;
}
.m-detail__quantity {
  display: inline-block;
  vertical-align: bottom;
  margin-right: em($ratio--b);
}
.m-detail__button {
  display: inline-block;
  vertical-align: bottom;
}

// Responsive.
@include media($phone) {
  .m-detail__type {
    display: block;
    text-align: center;
  }
  .m-detail__overview {
    text-align: center;
  }
  .m-detail__content {
    text-align: left;
  }
  .m-detail__thumbnail {
    display: inline-block;
    padding: 0 em($ratio--m);
  }
}
@include media($tablet--landscape__up) {
  .m-detail__description {
    font-size: em($ratio--m);
  }
}