.m-filter__sort {
  margin-top: em($ratio--s);
}

// Responsive.
@include media($phone) {
  .m-filter__label {
    margin: em($ratio--s) 0;
  }
}
@include media($tablet__up) {
  .m-filter__label {
    margin-bottom: em($ratio--xs);
  }
  .m-filter__icon {
    float: left;
    margin-right: em($ratio--m);
  }
}