// Form.
.m-form__table {
  color: $c-grey6;
}
.m-form--primary {
  background-color: $c-color1;
  color: white;
  .m-form__table {
    color: $c-color1--medium;
  }
}
.m-form__row {
  &:last-child .m-form__cell:last-child {
    text-align: right;
  }
}
.m-form__cell {
  padding-bottom: em($ratio--s);
  .m-form__row:last-child & {
    padding-bottom: 0;
  }
}
.m-form__note p {
  margin-top: 0;
}

// Responsive.
@include media($phone) {
  .m-form__cell {
    display: block;
  }
}
@include media($tablet--portrait) {
  .m-form--primary .t-h2 {
    // Force line-break.
    padding-right: em($ratio--l);
  }
}
@include media($tablet__up) {
  .m-form__cell {
    padding-bottom: em($unit--l);
    & + & {
      padding-left: em($ratio--m);
    }
  }
}