// Header.
.m-header {
  @include clearfix;
  position: absolute; // z-index
  top: 0;
  left: 0;
  right: 0;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    height: 0;
    left: 0;
    right: 0;
    z-index: -1;
    @include transition(height $duration--b);
    @include linear-gradient(to bottom, $c-grey8, rgba($c-grey8, .875), $fallback: transparent);
  }
  .no-touch & {
    position: fixed;
  }
  .no-touch &:hover {
    .o-nav,
    .o-logo__title {
      opacity: 1;
      @include transform(translateY(0));
    }
  }
}
.m-header__wrapper {
  @include transition(padding $duration--b);
}

// Responsive.
@include media($phone) {
  .m-header__logo {
    text-align: left;
  }
  .m-header__row {
    position: relative;
  }
  .m-header__other {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@include media($tablet__up) {
  .m-header__other {
    display: inline-block;
  }
}