// Screen module.
.m-hero {
  position: relative;
  overflow: hidden;
  .o-lead {
    color: rgba($c-grey8, .75);
  }
}
.m-hero--full {
  height: 95%;
  max-height: em(800);
}
.m-hero--half {
  height: 60%;
  max-height: em(500);

  .t-h1 {
    @include animation(showTitle $duration--b $duration--s backwards);
  }
}
.m-hero__bg {
  @include stretch-overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.m-hero__content {
  position: relative; // z-index
}
.m-hero--light {
  background-color: white;
  .m-hero__bg {
    opacity: .75;
  }
}
.m-hero--dark {
  color: white;
  background-color: $c-grey8;
  .m-hero__bg {
    opacity: .5;
  }
}