// Screen module.
.m-hero {
  position: relative;
  overflow: hidden;
}
.m-hero--full {
  min-height: 95%;
  max-height: em(800);
}
.m-hero--half {
  min-height: 40%;
}
.m-hero__bg {
  @include stretch-overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.m-hero__content {
  position: relative; // z-index
}
.m-hero--dark {
  color: white;
  background-color: $c-grey8;
  .m-hero__bg {
    opacity: .75;
  }
  .o-lead {
    color: $c-grey2;
    a {
      @include link-state {
        color: $c-grey2;
      }
      @include active-state {
        color: white;
      }
    }
  }
  &:after {
    content: "";
    @include stretch-overlay;
    @include linear-gradient(to bottom, rgba($c-grey8, .625), rgba($c-grey8, 0), $fallback: transparent);
  }
}
.m-hero--black {
  color: white;
  background-color: $c-grey8;
  .m-hero__bg {
    opacity: .25;
  }
  &:after {
    content: "";
    @include stretch-overlay;
    @include linear-gradient(to top, rgba($c-grey8, .75), rgba($c-grey8, 0), $fallback: transparent);
  }
}

// Responsive.
@include media($tablet--landscape__up) {
  .m-hero--half {
    min-height: 50%;
  }
  .m-hero--full {
    .o-lead {
      margin-left: em(90);
    }
  }
}