// Header.
.m-header {
  @include clearfix;
  position: absolute; // z-index
  top: 0;
  left: 0;
  right: 0;
}
.m-header--dark {
  .o-pages {
    color: rgba($c-grey2, .5);
  }
  .o-pages__item--selected {
    @include link-state {
      color: white;
    }
  }
  .o-switch {
    @include link-state {
      color: rgba($c-grey2, .5);
    }
    @include active-state {
      color: rgba(white, .75);
    }
  }
}
.m-header--light {
  .o-pages__item {
    @include active-state {
      color: $c-color4;
    }
  }
  .o-pages__item--selected {
    @include link-state {
      color: $c-grey6;
    }
  }
}