// Offscreen navigation.
.m-offscreen {
  position: fixed; // z-index
  left: 0;
  top: 0;
  padding: em($ratio--l) 0 em($ratio--l) em($ratio--m);
  // &:hover {
  //   .m-offscreen__menu {
  //     @include transform(translate3d(0, 0, 0));
  //   }
  // }
}
.m-offscreen__menu {
  list-style: none;
  padding-left: 0;
  margin-top: em($ratio--m);
  // @include transition(all $duration--b);
  // @include transform(translate3d(-100%, 0, 0));
  li + li {
    margin-top: em($ratio--xs);
  }
}
.m-offscreen--dark {
  .o-logo__symbol {
    border-color: white;
  }
}