.m-order__table {
  display: table;
  width: 100%;
}
.m-order__item {
  display: table-row;
}
.m-order__cell {
  display: table-cell;
  vertical-align: middle;
  padding-top: em($ratio--b);
  padding-bottom: em($ratio--b);
}
.m-order__content {
  border-bottom: $line--b solid $c-grey1;
  .m-order__item:last-child & {
    border-bottom: none;
  }
}
.m-order__photo {
  position: relative;
  width: em($ratio--xl);
  .o-photo__content {
    background-color: $c-grey1;
  }
}
.m-order__category {
  position: absolute;
}
.m-order__price {
  margin: 0 em($ratio--m);
}
.m-order__link {
  display: block;
  strong {
    display: block;
    font-size: em($unit--l);
  }
}
.m-order__summary {
  position: relative;
  text-align: center;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    height: $line--b;
    background-color: $c-grey2;
  }
}
.m-order__total {
  position: relative;
  display: inline-block;
  background-color: white;
  padding: 0 em($ratio--b);
}

// Responsive.
@include media($phone--portrait) {
  .m-order__remove {
    display: block;
    margin-top: em($ratio--b);
  }
  .m-order__price {
    margin-right: 0;
    margin-left: em($ratio--s);
  }
  .m-order__photo {
    padding-right: em($ratio--s);
  }
}
@include media($phone) {
  .m-order__cell {
    vertical-align: top;
  }
  .m-order__name {
    text-align: left;
    margin-bottom: em($ratio--xs);
  }
  .m-order__options {
    text-align: left;
  }
  .m-order__photo {
    padding-right: em($ratio--b);
  }
  .m-order__category {
    top: em($ratio--xl);
    left: 0;
  }
}
@include media($tablet__up) {
  .m-order__photo {
    width: em($ratio--xxl);
  }
  .m-order__category {
    bottom: em($ratio--b);
    right: em($ratio--m);
  }
  .m-order__link {
    strong {
      font-size: em($ratio--m);
    }
  }
}