// Product list.
.m-products {
  @include clearfix;
}
.m-products__item {
  margin-top: em($ratio--b);
  margin-bottom: em($ratio--m);
  @include media($phone) {
    padding-bottom: em($ratio--xs);
    border-bottom: $line--b solid white;
    &:last-child {
      border-bottom: none;
    }
  }
  @include media($tablet--portrait) {
    @include span-columns(3);
    @include omega(2n);
  }
  @include media($tablet--landscape) {
    @include span-columns(4);
    @include omega(3n);
  }
  @include media($desktop--narrow) {
    @include span-columns(4);
    @include omega(3n);
  }
  @include media($desktop--wide) {
    @include span-columns(3);
    @include omega(4n);
  }
}
