// Product list.
.m-products {
  @include clearfix;
}
.m-products__item {
  margin-top: em($ratio--b);
  margin-bottom: em($ratio--b);
  @include media($tablet--landscape) {
    @include span-columns(6);
    @include omega(2n);
  }
  @include media($desktop) {
    @include span-columns(4);
    @include omega(3n);
  }
}
// Form.
.m-form {
  background-color: $c-color1;
  color: white;
}
.m-form__table {
  color: shade($c-color1, 35%);
}
.m-form__row {
  &:last-child .m-form__cell:last-child {
    text-align: right;
  }
}
.m-form__cell {
  padding-bottom: em($unit--l);
  .m-form__row:last-child & {
    padding-bottom: 0;
  }
  & + & {
    padding-left: em($ratio--m);
  }
}
.m-form__options {
 font-family: $font--sans;
 font-weight: $sans--regular;
}
.m-gallery {
  .t-h3 {
    margin-top: 0;
  }
}