extends templates/_basic

block template-variables
  - var pageSettings = {title: "Vítejte", index: null, paperCanvas: true, theme: "dark"}

block template-body
  if pageSettings.paperCanvas
    canvas.o-canvas--fixed#js-waves(resize)

  section.m-hero.m-hero--full(class="m-hero--#{pageSettings.theme}")
    .m-hero__content.l-wrapper.l-wrapper--lower
      h1.t-h1
        | Moderní rodinné 
        span.line-break vinařství
      .o-lead
        p
          | Bzenec v srdci Slovácka je s vinařstvím spojován odpradávna. Naše rodina zde pěstuje a vyrábí kvalitní přívlastková vína posledních 11 let. Nyní bychom Vám rádi předali něco z výsledků své práce: vína, které rozšiřuje realitu. 
    .m-hero__bg(style="background-image: url('assets/images/vinery_big1.jpg'); background-position-y: top;")

  section.l-wrapper.l-wrapper--big.l-offset.l-section--light.l-layer--top
    article.o-article
      .l-inline
        .l-inline__row
          .l-inline__cell
            .o-title.o-title--absolute
              include ../svg/icon_bottle.svg
              h2.t-h2
                | O vinařství
          .l-inline__cell
            a.o-article__link.o-button--simple.t-link--secondary.ss-navigateright.right(href="o-vinarstvi.html") Více o nás
      p.t-big Jsme moderní rodinné vinařství, které bylo založeno v roce 2003. Vlastníme vinice na nejkvalitnějších viničních tratích ve Bzenci&thinsp;&mdash;&thinsp;Novosadech a Prostřední hoře.
      .l-columns
        .l-column--half
          p Při výsadbě vinic jsme vsadili na tradiční a prověřené odrůdy, jako je Ryzlink rýnský, nejtypičtější odrůda pěstovaná v Bzenci. Dále pěstujeme odrůdy Rulandské bílé, Rulandské šedé, Ryzlink vlašský, Sauvignon, Tramín červený, Svatovavřinecké, Frankovka a Rulandské modré.
        .l-column--half
          p Oba majitelé, Aleš a Zdeněk Maleňákovi, jsou ve sklepech každý den, a jsou tak přímo účastni dění ve vinařství.

  section.m-hero.m-hero--dark.m-hero--half
    .m-hero__content.l-wrapper.l-wrapper--big.l-offset
      .o-title.o-title--absolute
        include ../svg/icon_reality.svg
        h2.t-h2
          | Víno rozšiřující 
          span.line-break realitu
      .o-lead
        p Ač v Bzenii věříme v tradiční vinařské postupy, pro komunikaci se svými zákazníky jsme vsadili na moderní technologie.
        p Do každé etikety láhve jsme ukryli multimediální obsah, který si můžete přehrát na svém chytrém telefonu pomocí mobilní aplikace Layar. Stáhněte si aplikaci do svého mobilu, naskenujte přední část láhve s logem a nahlédněte s osobním sommelierem za kulisy našeho vinařství.
        a(href="#").svg-button
          include ../svg/symbol_app-store.svg
        a(href="#").svg-button
          include ../svg/symbol_google-play.svg
    .m-hero__bg(style="background-image: url('assets/images/archive_medium1.jpg')")