- var navActive = 1
include partials/_html-head

body
  include partials/_nav-offscreen
  include partials/_nav-main
  section.m-hero.m-hero--full.m-hero--flush
    .m-hero__content.l-wrapper
      h2.t-h2 V čem jsou vína Bzenia jiná
      p As I returned, Lorquas Ptomel grunted something at me, and turning to his warriors gave a few words of command relative to the incubator. They paid no further attention to me and I was thus permitted to remain close and watch their operations.
    .m-hero__bg(style="background-image: url('assets/images/img2.jpg')")
  //- canvas.o-waves#js-waves(resize)
  section.l-wrapper.l-section--light.l-layer--top
    h2.t-h2 Naše nabídka
    .temp-box Filtrování
    .m-products
      each instance in shopItems
        include partials/_shop-item

  section.l-wrapper.l-offset.l-section--white
      h2.t-h2 Mohlo by Vás zajímat
      .o-triplet
        .o-triplet__item
          .o-circle.o-circle--primary
            span.o-circle__content Rozšířená realita
          p As I came to a halt before him, Tars Tarkas pointed over the incubator and said, "Sak." I saw that he wanted me to repeat my performance of yesterday for the edification of Lorquas Ptomel, and, as I must confess that my prowess gave me no little satisfaction.
        .o-triplet__item
          .o-circle.o-circle--secondary
            span.o-circle__content Adopce sudu
          p As I returned, Lorquas Ptomel grunted something at me, and turning to his warriors gave a few words of command relative to the incubator. They paid no further attention to me and I was thus permitted to remain close and watch their operations.
        .o-triplet__item
          .o-circle
            span.o-circle__content Investiční vína
          p As I returned, Lorquas Ptomel grunted something at me, and turning to his warriors gave a few words of command relative to the incubator. They paid no further attention to me and I was thus permitted to remain close and watch their operations.
      .temp-box
        h3.t-h3 Pořádáme také degustace a ochutnávky
        p As I returned, Lorquas Ptomel grunted something at me, and turning to his warriors gave a few words of command relative to the incubator. They paid no further attention to me and I was thus permitted to remain close and watch their operations.
        a.o-button--simple(href="nabidka.html") Objednat ochutnávku

  include partials/_html-foot