include partials/_html-head

body.offscreen--not-active
  include partials/_nav-main
  include partials/_nav-offscreen
  section.temp-screen.temp-screen--light
    .temp-center
      h2.t-h2 V čem jsou vína Bzenia jiná
      p As I returned, Lorquas Ptomel grunted something at me, and turning to his warriors gave a few words of command relative to the incubator. They paid no further attention to me and I was thus permitted to remain close and watch their operations.
    .temp-bg(style="background-image: url('assets/images/img2.jpg')")
  section.l-wrapper
    h2.t-h2.temp-text-center Naše nabídka
    .temp-box Filtrování
    .m-item-list
      each instance in shopItems
        include partials/_shop-item

  section.l-wrapper.l-section--white
      h2.t-h2.temp-text-center Mohlo by Vás zajímat
      .l-columns.l-columns--three
        .l-column
          .m-circles__item.m-circles__item--first Rozšířená realita
          p As I came to a halt before him, Tars Tarkas pointed over the incubator and said, "Sak." I saw that he wanted me to repeat my performance of yesterday for the edification of Lorquas Ptomel, and, as I must confess that my prowess gave me no little satisfaction.
        .l-column
          .m-circles__item.m-circles__item--second Adopce sudu
          p As I returned, Lorquas Ptomel grunted something at me, and turning to his warriors gave a few words of command relative to the incubator. They paid no further attention to me and I was thus permitted to remain close and watch their operations.
        .l-column
          .m-circles__item.m-circles__item--third Investiční vína
          p As I returned, Lorquas Ptomel grunted something at me, and turning to his warriors gave a few words of command relative to the incubator. They paid no further attention to me and I was thus permitted to remain close and watch their operations.
      .temp-box
        h3.t-h3 Pořádáme také degustace a ochutnávky
        p As I returned, Lorquas Ptomel grunted something at me, and turning to his warriors gave a few words of command relative to the incubator. They paid no further attention to me and I was thus permitted to remain close and watch their operations.
        a.o-button--simple(href="nabidka.html") Objednat ochutnávku

  include partials/_html-foot