extends templates/_basic

block template-variables
  - var pageSettings = {title: "Naše nabídka", index: 1, paperCanvas: false, theme: "dark"}

block template-body
  if pageSettings.paperCanvas
    canvas.o-waves#js-waves(resize)

  section.m-hero--half(class="m-hero--#{pageSettings.theme}")
    .m-hero__content.l-wrapper.l-wrapper--lower
      h1.t-h1 Naše nabídka
    .m-hero__bg(style="background-image: url('assets/images/cellar_big2.jpg')")

  section
    .l-wrapper.l-section--white
      .m-filter
        .l-inline
          .l-inline__row
            .l-inline__cell
              label.o-label Vyberte kategorii vín prosím
              label.o-radio
                input(type="radio", name="category", checked)
                | Tradiční
              label.o-radio
                input(type="radio", name="category")
                | Archivní
            .l-inline__cell
              label.o-label Řazení
              .o-select
                select
                  option Dle názvu
                  option Dle typu
                  option Dle ročníku
                  option Dle ceny
                span.ss-navigatedown
    .l-wrapper.l-wrapper--big
      .m-products
        each instance, index in shopItems
          include partials/_shop-item
      .o-pagination
        a.o-pagination__side-link.ss-cart.o-button--simple.t-link--secondary(href="#") Nákupní košík
        ul.o-pagination__list
          li.o-pagination__item.o-pagination__item--selected
            div.o-pagination__content 1
          each instance in [2, 3, 4, 5]
            li.o-pagination__item
              a.o-pagination__content(href="#")
                = instance

  section.l-wrapper.l-section--white
      h2.t-h2 Mohlo by Vás zajímat
      .o-triplet
        .o-triplet__item
          .o-circle.o-circle--primary
            span.o-circle__content Adopce sudu na dálku
          p Nabízíme Vám možnost stát se majitelem originálního vína z naší produkce, na jehož výrobě se můžete sami přímo podílet. Za dohledu našich odborníků máte možnost ovlivnit konečnou chuť vína dle svých chuťových požadavků. Také můžete vytvářet vlastní speciální kupáže. Zvolené víno, resp. kupáž, u nás necháme vyzrát na dubovém sudu. Délku zrání vína na sudu si určuje zákazník podle svých preferencí za našeho dohledu a poradenství. Váš sud s vínem bude po celou dobu až do nalahvování vína uskladněn v našem archivním sklepě číslo 6.
        .o-triplet__item
          .o-circle.o-circle--secondary
            span.o-circle__content Investiční vína
          p Naše vinařství vám přináší unikátní možnost investice do vín ze své produkce. Zájemci mohou vybírat z bohaté archivní nabídky, která ročníkově sahá až do 50. let 20. století. Pro milovníky vína a drahých kamenů je variantou investice do Cuvée Divine. Každá láhev tohoto mimořádného meziročníkového vína, jež je namíchané z nejlepších ryzlinků rýnských z našeho archívu, obsahuje broušený diamant o velikosti 0,25 karátu až 3 karáty. Rádi vám poskytneme bližší informace.
        .o-triplet__item
          .o-circle.o-circle--tertiary
            span.o-circle__content Degustace a ochutnávky
          p Na objednávku pořádáme řízené degustace našich vín včetně občerstvení dle výběru zákazníka. Degustace se konají buď v exkluzivních prostorách našeho sklepa číslo 6, nebo přímo ve vinici na stylové rozhledně postavené ze starých dubových sudů. Rozhledna se nachází uprostřed naší vinice Novosady a nabízí krásný výhled na panorama Buchlovských hor a Pálavských vrchů.
          p Cenu degustací řešíme individuálně. Občerstvení pro nás připravují kuchaři Restaurace a penzionu Beta ve Bzenci, kde je i možnost ubytování.
          p Řízené degustace pořádáme také na naší pražské pobočce. Rovněž můžeme uskutečnit ochutnávku přímo u vás doma nebo na firmě.

//- Co získáte?
//- 225 l vína z naší produkce
//- dubový sud o objemu 225 l
//- příslušná dokumentace k vínu
//- nalahvování
//- 300 lahví o objemu 0,75 l
//- 300 kvalitních celokorkových špuntů
//- speciální etiketa dle Vašeho přání
//- možnost uskladnění nalahvovaného vína v našem archivním sklepě číslo 6
//- poradenství a průběžná péče o své víno
//- originální víno, které nemá nikdo jiný
//- Celé toto dobrodružství s vínem, které Vás vtáhne do tajů jeho výroby, můžete mít za cenu 105.000,- Kč včetně DPH.