extends templates/_basic

block template-variables
  - var pageSettings = {title: "Naše nabídka", index: 1, paperCanvas: true, theme: "dark"}

block template-body
  if pageSettings.paperCanvas
    canvas.o-canvas.o-canvas--fixed.o-canvas--half#js-waves(resize)

  section.m-hero.m-hero--half(class="m-hero--#{pageSettings.theme}")
    .m-hero__content.l-wrapper.l-wrapper--lower
      h1.t-h1 Naše nabídka
    .m-hero__bg(style="background-image: url('assets/images/cellar_big2.jpg')")

  section.l-layer--top
    .l-wrapper.l-section--white
      .m-filter
        .l-inline
          .l-inline__row
            .l-inline__cell
              .m-filter__icon
                .svg-icon--grapes
                  svg.svg__content(data-fallback="assets/images/fallbacks/icon_grapes.png")
                    use(xlink:href="#icon_grapes")
              .m-filter__label
                label.t-smallcaps Vyberte kategorii vín prosím
              label.o-radio--styled.o-radio--primary
                input(type="radio", name="category", checked)
                span.o-radio__mark
                span.o-radio__text Tradiční
              label.o-radio--styled.o-radio--primary
                input(type="radio", name="category")
                span.o-radio__mark
                span.o-radio__text Archivní
            .m-filter__sort.l-inline__cell
              .o-holder--inline
                label.o-label Řazení
                .o-dropdown
                  select.o-dropdown__select
                    option Dle názvu
                    option Dle typu
                    option Dle ročníku
                    option Dle ceny
                  span.o-holder__icon.ss-navigatedown
    .l-wrapper.l-wrapper--big.l-section--light
      .m-products
        each instance, index in shopItems
          include partials/_shop-item
      .o-pagination
        ul.o-pagination__list
          li.o-pagination__item.o-pagination__item--selected
            div.o-pagination__content 1
          each instance in [2, 3, 4, 5]
            li.o-pagination__item
              a.o-pagination__content(href="#")
                = instance
        a.o-pagination__side-link.ss-cart.o-button--simple.t-link--secondary(href="nakupni-kosik.html", data-pjax--whole) Nákupní košík
      a(href="#section-adopt").o-hint.o-hint--last
        h4.t-h4.o-hint__content Dále by Vás mohlo zajímat
        .o-hint__icon.o-icon.ss-down

  section.m-accordion
    ul.m-accordion__list(data-accordion)

      li#section-adopt.m-accordion__item--first.m-hero.m-hero--black(data-accordion-item, data-opened)
        .m-hero__content.l-wrapper.l-offset
          .o-title.o-title--absolute
            .svg-icon--barrel
              svg.svg__content(data-fallback="assets/images/fallbacks/icon_barrel.png")
                use(xlink:href="#icon_barrel")
            h2.t-h2 Adopce sudu na dálku
          article.m-accordion__more.o-article--invert(data-accordion-more)
            p.t-big.o-lead Nabízíme Vám možnost stát se majitelem originálního vína z naší produkce, na jehož výrobě se můžete sami přímo podílet.
            .l-columns
              .l-column--half
                p Za dohledu našich odborníků máte možnost ovlivnit konečnou chuť vína dle svých chuťových požadavků. Také můžete vytvářet vlastní speciální kupáže. Zvolené víno, resp. kupáž, u nás necháme vyzrát na dubovém sudu.
              .l-column--half
                p Délku zrání vína na sudu si určuje zákazník podle svých preferencí za našeho dohledu a poradenství. Váš sud s vínem bude po celou dobu až do nalahvování vína uskladněn v našem archivním sklepě číslo 6.
            h4.t-h4 Co získáte?
            .l-columns
              .l-column--half
                ul.o-middot.o-middot--stacked
                  li 225 l vína z naší produkce
                  li dubový sud o objemu 225 l
                  li příslušná dokumentace k vínu
                  li nalahvování
                  li 300 lahví o objemu 0,75 l
                  li 300 kvalitních celokorkových špuntů
              .l-column--half
                ul.o-middot.o-middot--stacked
                  li speciální etiketa dle Vašeho přání
                  li možnost uskladnění nalahvovaného vína v našem archivním sklepě číslo 6
                  li poradenství a průběžná péče o své víno
                  li originální víno, které nemá nikdo jiný
            p Celé toto dobrodružství s vínem, které Vás vtáhne do tajů jeho výroby, můžete mít za cenu 105.000,- Kč včetně DPH.
        .m-hero__bg(style="background-image: url('assets/images/barrel_big1.jpg')")

      li#section-invest.m-accordion__item--second.m-hero.m-hero--black(data-accordion-item)
        .m-hero__content.l-wrapper.l-offset
          .o-title.o-title--absolute
            .svg-icon--diamond
              svg.svg__content(data-fallback="assets/images/fallbacks/icon_diamond.png")
                use(xlink:href="#icon_diamond")
            h2.t-h2 Investiční vína
          article.m-accordion__more.o-article--invert(data-accordion-more)
            p.t-big.o-lead Naše vinařství vám přináší unikátní možnost investice do vín ze své produkce.
            .l-columns
              .l-column--half
                p Zájemci mohou vybírat z bohaté archivní nabídky, která ročníkově sahá až do 50. let 20. století.
                p Pro milovníky vína a drahých kamenů je variantou investice do Cuvée Divine.
              .l-column--half
                p Každá láhev tohoto mimořádného meziročníkového vína, jež je namíchané z nejlepších ryzlinků rýnských z našeho archívu, obsahuje broušený diamant o velikosti 0,25 karátu až 3 karáty. Rádi vám poskytneme bližší informace.
        .m-hero__bg(style="background-image: url('assets/images/bottles_big1.jpg')")

      li#section-taste.m-accordion__item--third.m-hero.m-hero--black(data-accordion-item)
        .m-hero__content.l-wrapper.l-offset
          .o-title.o-title--absolute
            .svg-icon--tasting
              svg.svg__content(data-fallback="assets/images/fallbacks/icon_tasting.png")
                use(xlink:href="#icon_tasting")
            h2.t-h2 Degustace a ochutnávky
          article.m-accordion__more.o-article--invert(data-accordion-more)
            p.t-big.o-lead Na objednávku pořádáme řízené degustace našich vín včetně občerstvení dle výběru zákazníka.
            .l-columns
              .l-column--half
                p Degustace se konají buď v exkluzivních prostorách našeho sklepa číslo 6, nebo přímo ve vinici na stylové rozhledně postavené ze starých dubových sudů. Rozhledna se nachází uprostřed naší vinice Novosady a nabízí krásný výhled na panorama Buchlovských hor a Pálavských vrchů.
              .l-column--half
                p Cenu degustací řešíme individuálně. Občerstvení pro nás připravují kuchaři Restaurace a penzionu Beta ve Bzenci, kde je i možnost ubytování.
                p Řízené degustace pořádáme přímo v našem Bzeneckém vinařství, můžeme je však uskutečnit také přímo u vás doma nebo na firmě.
            a.o-button--simple.ss-navigateright.right(href="navstivte-nas.html#section-form", data-pjax--whole) Objednat
        .m-hero__bg(style="background-image: url('assets/images/tasting_big1.jpg')")