extends templates/_basic

block template-variables
  - var pageSettings = {title: "Nákupní košík", index: null, paperCanvas: false, theme: "light"}

block template-body

  section.l-section--white
    .l-wrapper.l-wrapper--lower
      h2.t-h2 Nákupní košík
      .m-order
        .m-order__table
          each instance, index in shopItems
            article.m-order__item
              .m-order__cell.m-order__photo
                .o-photo.o-photo--small
                  .o-photo__content
                    if (index % 3 == 0)
                      img(src="assets/images/product_thumbnail1.jpg", alt="Thumbnail")
                    else if (index % 2 == 0)
                      img(src="assets/images/product_thumbnail2.jpg", alt="Thumbnail")
                    else
                      img(src="assets/images/product_thumbnail3.jpg", alt="Thumbnail")
                .m-order__category(class="o-badge--#{instance.category}")!= instance.year
              .m-order__cell.m-order__content
                .l-inline
                  .l-inline__row
                    .l-inline__cell.m-order__name
                      a.o-wine(href="detail-produktu.html", data-pjax--whole).m-order__link
                        strong.o-wine__name= instance.name
                        em.o-wine__type= instance.type
                    .l-inline__cell.m-order__options
                      label.o-label Počet
                      span.o-holder--inline.o-holder--number
                        input.o-input.o-input--number(type="number", name="quantity", min="1", value="1")
                        span.o-holder__icon.ss-write
                      span.m-order__price.o-price
                        span.o-label Cena
                        strong= instance.price
                        |  Kč
                      a.m-order__remove.o-button--simple.ss-delete.t-link--secondary(href="#") Odebrat
        .m-order__summary
          .m-order__total.o-price--big
            span.o-label Celkem
            strong 2265
            |  Kč

  section.m-form
    .l-wrapper.l-wrapper--big
      h2.t-h2 Objednávkový formulář
      form
        table.m-form__table
          tr.m-form__row
            td.m-form__cell
              input.o-input(type="text", placeholder="Vaše jméno")
            td.m-form__cell
              input.o-input(type="text", placeholder="Příjmení")
          tr.m-form__row
            td.m-form__cell
              input.o-input(type="text", placeholder="Telefon")
            td.m-form__cell
              input.o-input(type="text", placeholder="E-mail")
          tr.m-form__row
            td.m-form__cell
              input.o-input(type="text", placeholder="Ulice")
            td.m-form__cell
              input.o-input(type="text", placeholder="Město")
          tr.m-form__row
            td.m-form__cell
              input.o-input(type="text", placeholder="PSČ")
            td.m-form__cell
              input.o-input(type="text", placeholder="Stát")
          tr.m-form__row.m-form__options
            td.m-form__cell(colspan="2")
              .l-inline
                .l-inline__row
                  .l-inline__cell
                    .o-holder--float
                      label.o-label.o-holder__label--float Způsob platby
                      .o-dropdown
                        select.o-dropdown__select
                          option Dobírkou
                          option Hotově
                      span.o-holder__icon.ss-navigatedown
                  .l-inline__cell
                    .o-holder--float
                      label.o-label.o-holder__label--float Doprava
                      .o-dropdown
                        select.o-dropdown__select
                          option Česká pošta
                          option PPL
                          option Osobní vyzvednutí
                      span.o-holder__icon.ss-navigatedown
          tr.m-form__row
            td.m-form__cell(colspan="2")
              textarea.o-textarea(placeholder="Vaše poznámky")
          tr.m-form__row
            td.m-form__cell.m-form__note
              p S upřesněním objednávky Vás budeme obratem kontaktovat.
            td.m-form__cell
              input.o-submit(type="submit", value="Odeslat")