extends templates/_basic

block template-variables
  - var pageSettings = {title: "Navštivte nás", index: 2, paperCanvas: false, theme: "light"}

block template-body

  section.l-section--white
    .l-wrapper.l-wrapper--lower
      h1.t-h1
        | Přijeďte ochutnat to pravé 
        span.line-break moravské víno
    .l-wrapper.l-wrapper--only-horizontal.l-wrapper--bleed
      .o-map#js-google_maps

  section#section-form.m-form--primary
    .l-wrapper.l-wrapper--big
      h2.t-h2 Objednejte si degustaci našich vín
      form
        table.m-form__table
          tr.m-form__row
            td.m-form__cell(colspan="2")
              input.o-input.o-input--primary(type="text", placeholder="Vaše jméno")
          tr.m-form__row
            td.m-form__cell
              input.o-input.o-input--primary(type="text", placeholder="Telefon")
            td.m-form__cell
              input.o-input.o-input--primary(type="text", placeholder="E-mail")
          tr.m-form__row.m-form__options
            td.m-form__cell(colspan="2")
              .l-inline
                .l-inline__row
                  .l-inline__cell
                    .o-holder--float
                      label.o-holder__label--float.o-label.o-label--primary Termín
                      .o-dropdown.o-dropdown--primary
                        select.o-dropdown__select
                          option Co nejdříve
                          option Tento měsíc
                          option Výhledově
                        span.o-holder__icon.ss-navigatedown
                  .l-inline__cell
                    .o-holder--float
                      label.o-holder__label--float.o-label.o-label--primary Velikost
                      .o-dropdown.o-dropdown--primary
                        select.o-dropdown__select
                          option Do 5 osob
                          option 6&ndash;15 osob
                          option Více než 15 osob
                        span.o-holder__icon.ss-navigatedown
                  .l-inline__cell
                    .o-holder--float
                      label.o-holder__label--float.o-label.o-label--primary Lokace
                      .o-dropdown.o-dropdown--primary
                        select.o-dropdown__select
                          option Náš vinohrad
                          option Dle vašeho výběru
                        span.o-holder__icon.ss-navigatedown
          tr.m-form__row
            td.m-form__cell(colspan="2")
              textarea.o-textarea.o-textarea--primary(placeholder="Vaše poznámky")
          tr.m-form__row
            td.m-form__cell.m-form__note
              p S upřesněním možné degustace Vás budeme obratem kontaktovat.
            td.m-form__cell
              input.o-submit.o-submit--primary(type="submit", value="Odeslat")

  section.m-contacts
    .l-wrapper.l-wrapper--big
      .o-title.o-title--float.o-title--light
        .svg-icon--mail
          svg.svg__content(data-fallback="assets/images/fallbacks/icon_mail.png")
            use(xlink:href="#icon_mail")
        h2.t-h2 Kontaktní údaje
      .m-contacts__content.l-columns
        .l-column--one
            h4.t-h4 Adresa sídla
            ul.o-nolist
              li Bzenia s.r.o.
              li Sklep č. 6 
              li ul. Karla Čapka 1542
              li 696 81 Bzenec
        .l-column--two
          h4.t-h4 Kontakty na jednatele
          .m-contacts__person
            ul.o-nolist
              li Aleš Maleňák
              li mob. +420 774 414 011
              li: a(href="mailto:ales.malenak@arvina.cz") ales.malenak@arvina.cz
          .m-contacts__person
            ul.o-nolist
              li Zdeněk Maleňák
              li mob. +420 602 584 714
              li: a(href="mailto:zdenek.malenak@arvina.cz") zdenek.malenak@arvina.cz