- var navActive = 0
include partials/_html-head

body
  include partials/_nav-offscreen
  include partials/_nav-main
  section.m-hero.m-hero--full.m-hero--flush
    .m-hero__content.l-wrapper
      h1.t-h1 Tradice a filozofie
      .l-columns
        .l-column.l-column--half
          p As I came to a halt before him, Tars Tarkas pointed over the incubator and said, "Sak." I saw that he wanted me to repeat my performance of yesterday for the edification of Lorquas Ptomel, and, as I must confess that my prowess gave me no little satisfaction.
        .l-column.l-column--half
          p As I returned, Lorquas Ptomel grunted something at me, and turning to his warriors gave a few words of command relative to the incubator. They paid no further attention to me and I was thus permitted to remain close and watch their operations.
    .m-hero__bg(style="background-image: url('assets/images/img1.jpg')")
  section.l-wrapper.l-wrapper--big.l-offset
    h2.t-h2.temp-text-center Popis vinohradu, sklepu
    article.o-article
      p.t-big They paid no further attention to me and I was thus permitted to remain close and watch their operations.
      .l-columns
        .l-column.l-column--half
          p As I came to a halt before him, Tars Tarkas pointed over the incubator and said, "Sak." I saw that he wanted me to repeat my performance of yesterday for the edification of Lorquas Ptomel, and, as I must confess that my prowess gave me no little satisfaction.
        .l-column.l-column--half
          p As I returned, Lorquas Ptomel grunted something at me, and turning to his warriors gave a few words of command relative to the incubator.
  section.m-gallery.l-wrapper.l-wrapper--bleed.l-offset
    h3.t-h3 Prohlédněte si naše vinice
    ul.o-carousel
      each galleryItem, index in [1, 2, 3, 4, 5, 6, 7]
        li.o-photo__item
          a.o-photo__link(href="#")
            img(src="http://lorempixel.com/200/200/nature/#{index}", alt="lorempixel")
          span.o-photo__caption Popis fotky.
  section.l-wrapper.l-wrapper--only-horizontal.l-offset.l-wrapper--bleed
    .m-hero.m-hero--centered.m-hero--dark
      .m-hero__content.l-wrapper.l-wrapper--big
        h2.t-h2 Vysvětlení bio přístupu
        p.t-big As I came to a halt before him, Tars Tarkas pointed over the incubator.
        p As I returned, Lorquas Ptomel grunted something at me, and turning to his warriors gave a few words of command relative to the incubator. They paid no further attention to me and I was thus permitted to remain close and watch their operations.
        a(href="#").o-button.o-button--block Více informací
      .m-hero__bg(style="background-image: url('assets/images/vino1.jpg')")
  section.l-wrapper.l-offset
    h2.t-h2 Jak vzniká naše víno
    .o-triplet
      .o-triplet__item
        .o-circle.o-circle--primary Vinná réva
        p As I came to a halt before him, Tars Tarkas pointed over the incubator and said, "Sak." I saw that he wanted me to repeat my performance of yesterday for the edification of Lorquas Ptomel, and, as I must confess that my prowess gave me no little satisfaction.
      .o-triplet__item
        .o-circle Sudy
        p As I returned, Lorquas Ptomel grunted something at me, and turning to his warriors gave a few words of command relative to the incubator. They paid no further attention to me and I was thus permitted to remain close and watch their operations.
      .o-triplet__item
        .o-circle.o-circle--secondary Víno
        p As I returned, Lorquas Ptomel grunted something at me, and turning to his warriors gave a few words of command relative to the incubator. They paid no further attention to me and I was thus permitted to remain close and watch their operations.
  footer.o-action
    .l-wrapper.l-inline
      .l-inline__row
        .l-inline__cell
          h3.t-h3 Chcete ochutnat opravdové bio víno?
        .l-inline__cell
          a.o-button.o-button--block(href="nabidka.html") Sortiment vín Bzenia

  include partials/_html-foot