extends templates/_basic

block template-variables
  - var pageSettings = {title: "O vinařství", index: 0, paperCanvas: false, theme: "dark"}

block template-body
  if pageSettings.paperCanvas
    canvas.o-waves#js-waves(resize)

  section.m-hero.m-hero--half(class="m-hero--#{pageSettings.theme}")
    .m-hero__content.l-wrapper.l-wrapper--lower
      h1.t-h1 O vinařství
    .m-hero__bg(style="background-image: url('assets/images/cellar1.jpg'); ")

  section.l-wrapper.l-wrapper--big.l-offset
    h2.t-h2 Náš vinohrad a&nbsp;výrobní sklep
    article.o-article
      p.t-big Naše vinice se rozkládají na 10 hektarech půdy na dohled od kaple sv. Floriána na Starém hradě nad Bzencem.
      .l-columns
        .l-column--half
          p Hrozny, které pocházejí výhradně z naší produkce, jsou sklízeny ručním sběrem do malých přepravek. Poté následuje rychlé a šetrné zpracování v našem výrobním sklepě. Při výrobě vína nejsou používány ušlechtilé kvasinky.
        .l-column--half
          p To znamená, že pracujeme jen s kvasinkami, které si naše hrozny přivezou z vinohradu; tento přístup je možný pouze při vynikající kvalitě hroznů. Po vyškolení a nalahvování vín jsou láhve převáženy do našeho archivního sklepa číslo 6.

  section.m-gallery.l-section--white.l-wrapper.l-wrapper--only-vertical
    .l-wrapper.l-wrapper--small.l-wrapper--no-top.l-offset
      .l-inline
        .l-inline__row
          .l-inline__cell
            h4.t-h4 Prohlédněte si naše vinice
          .l-inline__cell
            a.m-gallery__nav--prev.t-link--dark(href="#", data-swiper--prev).o-icon-button.o-icon--medium.ss-rewind
            a.m-gallery__nav--next.t-link--dark(href="#", data-swiper--next).o-icon-button.o-icon--medium.ss-fastforward
    .o-carousel.swiper-container.l-wrapper.l-wrapper--only-horizontal.l-offset--optical
      ul.o-carousel__list.swiper-wrapper
        each galleryItem, index in [1, 2, 3, 4, 5, 6, 7, 8, 9]
          li.o-carousel__item.swiper-slide
            figure.o-photo
              a.o-photo__link.o-photo__content(href="http://lorempixel.com/1280/720/nature/#{index}", data-js-featherlight)
                img(src="http://lorempixel.com/200/200/nature/#{index}", alt="lorempixel")
              figcaption.o-photo__caption Popis fotky.

  section.l-wrapper.l-wrapper--big.l-offset--optical
    article.o-media.o-article
      .o-media__image
        figure.o-photo.o-photo--big
          .o-photo__content
            img(src="assets/images/cellar4.jpg", alt="Vchod do sklepu číslo 6")
      .o-media__content
        h2.t-h2 Sklep číslo 6
        p.t-big Ve sklepě číslo 6 naše vína dozrávají na láhvi po dlouhá léta, než jsou zařazena do prodeje. Jde o unikátní křížový sklep, jehož chodby měří přes 400 metrů a mají místy více než pětsetletou historii.
        p Nachází se v památkovém centru města Bzenec a patří k velkým lákadlům všech milovníků vína. Je to místo, kde se psala historie moravského vinařství&thinsp;&mdash;&thinsp;právě v těchto sklepech bylo založeno první vinařské družstvo v ČR. Sklep byl v minulosti využíván k archivaci vín místním vinařským podnikem.

  section.m-hero.m-hero--dark
    .m-hero__content.l-wrapper.l-wrapper--big.l-offset
      h2.t-h2 Bio přístup
      p Všechny naše vinice byly zařazeny do ekologického zemědělství, v němž není povoleno využití chemických prostředků pro ochranu vinic ani při samotné výrobě vína. V roce 2011 naše vinařství získalo ochrannou známku BIO.
    .m-hero__bg(style="background-image: url('assets/images/wine1.jpg')")

  footer.o-action
    .l-wrapper.l-inline
      .l-inline__row
        .l-inline__cell
          h4.t-h4 Chcete ochutnat opravdové bio víno?
        .l-inline__cell
          a.o-button(href="nabidka.html") Sortiment vín Bzenia