include partials/_html-head

body.offscreen--not-active
  include partials/_nav-main
  include partials/_nav-offscreen
  section.temp-screen.temp-screen--dark
    .temp-center
      h2.t-h2 Tradice a filozofie
      .l-columns.l-columns--two.l-wrapper
        .l-column
          p As I came to a halt before him, Tars Tarkas pointed over the incubator and said, "Sak." I saw that he wanted me to repeat my performance of yesterday for the edification of Lorquas Ptomel, and, as I must confess that my prowess gave me no little satisfaction.
        .l-column
          p As I returned, Lorquas Ptomel grunted something at me, and turning to his warriors gave a few words of command relative to the incubator. They paid no further attention to me and I was thus permitted to remain close and watch their operations.
    .temp-bg(style="background-image: url('assets/images/img1.jpg')")
  section.l-wrapper
    h2.t-h2.temp-text-center Popis vinohradu, sklepu
    .l-columns.l-columns--two
      .l-column
        p As I came to a halt before him, Tars Tarkas pointed over the incubator and said, "Sak." I saw that he wanted me to repeat my performance of yesterday for the edification of Lorquas Ptomel, and, as I must confess that my prowess gave me no little satisfaction.
      .l-column
        p As I returned, Lorquas Ptomel grunted something at me, and turning to his warriors gave a few words of command relative to the incubator. They paid no further attention to me and I was thus permitted to remain close and watch their operations.
    .temp-box Fotogalerie
  section.temp-screen.temp-screen--primary
    .temp-center
      h2.t-h2 Vysvětlení bio přístupu
      .l-columns.l-columns--two.l-wrapper
        .l-column
          p As I came to a halt before him, Tars Tarkas pointed over the incubator and said, "Sak." I saw that he wanted me to repeat my performance of yesterday for the edification of Lorquas Ptomel, and, as I must confess that my prowess gave me no little satisfaction.
        .l-column
          p As I returned, Lorquas Ptomel grunted something at me, and turning to his warriors gave a few words of command relative to the incubator. They paid no further attention to me and I was thus permitted to remain close and watch their operations.
    .temp-bg(style="background-image: url('assets/images/vino1.jpg')")
  section.l-wrapper
      h2.t-h2.temp-text-center Jak vzniká naše víno
      .l-columns.l-columns--three
        .l-column
          .m-circles__item.m-circles__item--first Vinná réva
          p As I came to a halt before him, Tars Tarkas pointed over the incubator and said, "Sak." I saw that he wanted me to repeat my performance of yesterday for the edification of Lorquas Ptomel, and, as I must confess that my prowess gave me no little satisfaction.
        .l-column
          .m-circles__item.m-circles__item--second Sudy
          p As I returned, Lorquas Ptomel grunted something at me, and turning to his warriors gave a few words of command relative to the incubator. They paid no further attention to me and I was thus permitted to remain close and watch their operations.
        .l-column
          .m-circles__item.m-circles__item--third Víno
          p As I returned, Lorquas Ptomel grunted something at me, and turning to his warriors gave a few words of command relative to the incubator. They paid no further attention to me and I was thus permitted to remain close and watch their operations.
      .temp-box
        h3.t-h3 Chcete ochutnat opravdové bio víno?
        a.o-button--simple(href="nabidka.html") Proklik do nabídky

  include partials/_html-foot