include partials/_html-head

body
  .l-wrapper
    ul.sg-ratio
      each instance in ['xs', 's', 'b', 'm', 'l', 'xl', 'xxl', 'g']
        li.sg-ratio__item(class="sg-ratio__item--#{instance}")
          span.sg-ratio__content
            strong.sg-ratio__name= instance


  include partials/_html-foot